<div class="container background">
  <div class="row">
    <div class="render-signin">
        <%= link_to "ログイン", new_session_path(resource_name), class: "btn btn-default signin-btn" %>
    </div>
    <div class="sign-menu animated fadeIn">
      <div class="app-title">
        <h2 id="signup-title">Made in Recorder</h2>
        <p>もの×ばしょ で記録を残しましょう！</p>
        <p>好きなものがどこからきたのか<br >地図で見れたらワクワクしませんか？</p>
      </div>
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3" id="signup-form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field signup-field">
            <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "名前" %>
          </div>

          <div class="field signup-field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス"%>
          </div>

          <div class="field signup-field">
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "パスワード" %>
          </div>

          <div class="field signup-field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "確認用パスワード" %>
          </div>

          <div class="actions signup-btn-field">
            <%= f.submit "登録", class: "btn btn-primary signup-submit"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
  	var num = Math.ceil(5 * Math.random());
  	$('div.background').addClass('background' + num);
  })
</script>
