<%= form_with(model: @user, local: true, url: user_path, method: :put) do |user_form| %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= @user.errors.count %><%= t('view.errors_count') %></h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= user_form.label :name %><br />
    <%= user_form.text_field :name %>
  </div>

  <div class="field">
    <%= user_form.label :introduction %><br />
    <%= user_form.text_area :introduction %>
  </div>

  <div class="field">
    <%= user_form.label :email %><br />
    <%= user_form.email_field :email %>
  </div>

  <div class="field">
    <%= user_form.label :password %>
    <%= user_form.password_field :password %>
  </div>

  <div class="field">
    <%= user_form.label :password_confirmation %><br />
    <%= user_form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= user_form.label :place %><br />
    <%= user_form.text_field :place %>
  </div>

  <%= user_form.fields :asset do |asset_form| %>
    <div class="field">
      <%= asset_form.label :image %>
      <%= asset_form.file_field :image %>
    </div>
  <% end %>

  <div class="actions">
    <%= user_form.submit %>
  </div>

<% end %>

<%= link_to "Back", posts_path %>
