<div class="row user-show">
  <div class="user-profile col-md-8 col-md-offset-2">
    <div class="row">
      <h3 class="user-name col-md-4 col-sm-5"><%= @user.name %></h3>
      <%= link_to '登録情報編集', edit_user_registration_path, class: 'btn btn-default edit-password-btn col-md-3 col-sm-3' %>
      <%= link_to "プロフィール編集", edit_user_path(id: @user), class: 'btn btn-default edit-user-btn col-md-3 col-sm-3' %>
    </div>
    <div class="row">
      <div class="profile-image-area col-md-3 col-sm-3">
        <% if @user.asset.present? %>
          <p><%= image_tag(@user.asset.image.url, size: "150x150", id: :user_profile_image) %></p>
        <% end %>
      </div>
      <p class="introduction col-md-6 col-md-offset-1 col-sm-6"><%= @user.introduction %></p>
    </div>
      <p class="place-space">あなたの位置: <%= @user.place %></p>
      <div id="map" class="col-md-12"style=" height: 400px;"></div>
  </div>
</div>
<div class="row">
  <ul class="nav nav-tabs user-show-tab col-md-8 col-md-offset-2">
    <li class="nav-item">
      <a href="#tab1" class="nav-link" data-toggle="tab">お気に入り一覧</a>
    </li>
    <li class="nav-item">
      <a href="#tab2" class="nav-link" data-toggle="tab">ハッシュタグ一覧</a>
    </li>
  </ul>

  <div class="tab-content col-md-8 col-md-offset-2">
    <div id="tab1" class="tab-pane active">
      <div class="row">
        <% @posts.each do |post| %>
          <p class="index-image-area col-md-3 col-md-offset-0 col-sm-6">
            <%= link_to post_path(post.id) do %>
              <%= image_tag(post.asset.image.url, class: "img-responsive", id: "post-image-index") %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
    <div id="tab2" class="tab-pane">
      <div class="">
        <% @tags.each do |tag| %>
          <p><%= tag.name %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(2);
  });
</script>
