<h2>User detail</h2>
<p>user name: <%= @user.name %></p>
<p>profile image: <%= image_tag(@user.asset.image.to_s) %></p>
<p>introduction: <%= @user.introduction %></p>

<p>country: <%= @user.address.country %></p>
<p>state: <%= @user.address.state %></p>
<p>city: <%= @user.address.city %></p>

<%= link_to "User edit", edit_user_path(id: @user.id) %>
