<h2>User detail</h2>
<p>user name: <%= @user.name %></p>
<p>profile image: <%= image_tag(@user.asset.image.to_s) %></p>
<p>introduction: <%= @user.introduction %></p>
<p>place: <%= @user.place %></p>
<p>country: <%= @user.address.country %></p>
<p>state: <%= @user.address.state %></p>
<p>city: <%= @user.address.city %></p>

<div id="map" style="width: 800px; height: 400px;"></div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(8);
  });
</script>

<%= link_to "User edit", edit_user_path(id: @user.id) %>
