<div class="row">
  <div class="user-profile col-md-8 col-md-offset-2">
    <div class="row">
        <h3 class="user-name"><%= @user.name %></h3>
        <div class="profile-image-area col-md-4">
          <% if @user.asset.present? %>
            <p><%= image_tag(@user.asset.image.url, size: "150x150", id: :user_profile_image) %></p>
          <% end %>
        </div>
      <p class="introduction"><%= @user.introduction %></p>
      <p class="place-space">位置情報: <%= @user.place %></p>

      <div id="map" style="width: 660px; height: 400px;"></div>

    </div>
  </div>
</div>



<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(8);
  });
</script>
