<div class="container background">
  <div class="row new">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3" id="above_content_signin">
        <div class="jumbotron sign_in_menu">
          <% if notice  %>
            <p class="alert alert-notice"><%= notice %></p>
          <% elsif alert %>
            <p class="alert alert-error"><%= alert %></p>
          <% end %>
        <h2>おかえりなさい！</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Sign in", class: "btn btn-primary" %>
          </div>
        <% end %>
        <div class="render-signup">
          <p style="font-size: 15px;">アカウントをお持ちでない場合</p>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
