<%= form_with(model: @post, local: true, url: choose_new_or_edit) do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %><%= t('view.errors_count') %></h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :thing %>
  </div>

    <%= form.fields :asset do |asset_form| %>
      <%= asset_form.label :image %>
      <%= asset_form.file_field :image, id: :post_img %>
      <%= asset_form.hidden_field :image_cache %>
    <% end %>

    <% if @post.asset.image.present? %>
        <%= image_tag(@post.asset.image.url, id: :img_prev) %>
    <% else %>
        <%= image_tag("noimage.png" ,id: :img_prev) %>
    <% end %>
    <script type="text/javascript">
      $(function() {
       function readURL(input) {
         if (input.files && input.files[0]) {
           var reader = new FileReader();
           reader.onload = function (e) {
             $('#img_prev').attr('src', e.target.result);
           }
           reader.readAsDataURL(input.files[0]);
         }
       }
       $("#post_img").change(function(){
         readURL(this);
       });
      });
      </script>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<%= link_to "Back", posts_path %>
