<%= form_with(model: @post, local: true, url: choose_new_or_edit) do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %><%= t('view.errors_count') %></h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :thing %>
  </div>

    <%= form.fields :asset do |asset_form| %>
      <%= asset_form.label :image %>
      <%= asset_form.file_field :image %>
    <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<%= link_to "Back", posts_path %>
