<%= form_with(model: @post, local: true, url: choose_new_or_edit, class: "form-area col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1", html: { style: 'margin-top:30px;' }) do |form| %>
  <div class="row">
    <% if action_name == 'new' %>
      <h2 class="post-form-title">投稿作成</h2>
    <% elsif action_name == 'edit' %>
      <h2 class="post-form-title">投稿編集</h2>
    <% end %>

    <div class="field thing-field col-md-8">
      <%= form.label :thing %>
      <%= form.text_field :thing, class: "form-control", placeholder: "ものの名前を入力してください" %>
    </div>

    <div class="field place-field col-md-8">
      <%= form.label :place %>
      <%= form.text_field :place, class: "form-control", placeholder: "場所を入力してください 例: アメリカ, Tokyo, Los Angeles, 東京タワー" %>
    </div>

      <%= form.fields :asset do |asset_form| %>
        <%= asset_form.file_field :image, id: :post_img %>
        <%= asset_form.hidden_field :image_cache %>
      <% end %>

      <div class="image-area">
        <% if @post.asset.image.present? %>
          <%= image_tag(@post.asset.image.url, id: :img_prev, size: "300x267") %>
        <% else %>
          <%= image_tag("noimage.png" ,id: :img_prev, size: "300x267") %>
        <% end %>
      </div>

    <div class="field">
      <p><%= form.label :description %>:ハッシュタグがつけられます</p>
      <%= form.text_area :description, class: "form-control form-description",
      placeholder: "説明を入力してください。 例: 手作り #時計 #tokyo"  %>
    </div>
    <div class="btns">
      <%= link_to "戻る", posts_path, class: 'btn btn-default back-btn' %>
      <button class="btn btn-primary submit-btn" type="submit">保存する</button>
    </div>
  <% end %>
  </div>


<script type="text/javascript">
  $(function() {
   function readURL(input) {
     if (input.files && input.files[0]) {
       var reader = new FileReader();
       reader.onload = function (e) {
         $('#img_prev').attr('src', e.target.result);
       }
       reader.readAsDataURL(input.files[0]);
     }
   }
   $("#post_img").change(function(){
     readURL(this);
   });
  });
  </script>
