<%= form_with(model: @post, local: true, url: choose_new_or_edit) do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %><%= t('view.errors_count') %></h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields :thing do |thing_form| %>
    <%= thing_form.label :Thing_name %>
    <%= thing_form.text_field :name %>

    <%= thing_form.fields :asset do |asset_form| %>
      <%= asset_form.label :image %>
      <%= asset_form.file_field :image %>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%= form.fields :place do |place_form| %>
    <%= place_form.label :Place_name %>
    <%= place_form.text_field :name %>

    <%= place_form.fields :address do |address_form| %>

      <div class="field">
        <%= address_form.label :country %>
        <%= address_form.text_field :country %>
      </div>

      <div class="field">
        <%= address_form.label :state %>
        <%= address_form.text_field :state %>
      </div>

      <div class="field">
        <%= address_form.label :city %>
        <%= address_form.text_field :city %>
      </div>

      <div class="field">
        <%= address_form.label :address1 %>
        <%= address_form.text_field :address1 %>
      </div>

      <div class="field">
        <%= address_form.label :address2 %>
        <%= address_form.text_field :address2 %>
      </div>

      <div class="field">
        <%= address_form.label :address3 %>
        <%= address_form.text_field :address3 %>
      </div>

      <div class="field">
        <%= address_form.label :postcode %>
        <%= address_form.text_field :postcode %>
      </div>
    <% end %>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<%= link_to "Back", posts_path %>
