<div class="row">
  <div class="post-area col-md-8 col-md-offset-2 col-sm-12">

    <div class="post-thing-area col-md-6 col-sm-6">
      <strong>なまえ:</strong>
      <p><%= @post.thing %></p>
      <p class="post-image-area"><%= image_tag(@post.asset.image.to_s, id: "post-image-show") %></p>
    </div>

    <div class="post-place-area col-md-6 col-sm-6">
      <strong>ばしょ:</strong>
        <p><%= @post.place %></p>
        <div class="col-md-6 post-show-map" id="map"></div>
    </div>

    <div class="post-description-area col-md-8 col-sm-8">
      <strong>説明:</strong>
      <p><%= render_with_hashtags(@post.description) %></p>
    </div>

    <div class="post-action-btns col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1">
      <div class="aaa">
        <div class="create-time"><p><%= l @post.created_at, format: :date %></p></div>
        <div class="fav-btn" id="favorite_btn_<%= @post.id %>"><%= render 'favorites/favorite', post: @post %></div>
      </div>
      <%= link_to '編集', edit_post_path(@post), class: "btn btn-default" %>
      <%= link_to '削除', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
      <%= link_to 'もどる', posts_path, class: "btn btn-default" %>
    </div>

  </div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(2);
  });
</script>
